<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>hieplh.listener.InitListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ForwardController</servlet-name>
        <servlet-class>hieplh.controller.ForwardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>hieplh.controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CareerDetailSevlet</servlet-name>
        <servlet-class>hieplh.controller.CareerDetailSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlServlet</servlet-name>
        <servlet-class>hieplh.controller.CrawlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvanceServlet</servlet-name>
        <servlet-class>hieplh.controller.AdvanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardController</servlet-name>
        <url-pattern>/ForwardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CareerDetailSevlet</servlet-name>
        <url-pattern>/CareerDetailSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlServlet</servlet-name>
        <url-pattern>/CrawlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvanceServlet</servlet-name>
        <url-pattern>/AdvanceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ForwardController</welcome-file>
    </welcome-file-list>
</web-app>
